/* general styles */
body{
    font-family: Arial san-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* form container*/
.form-container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;

}

/* form labels and inputs*/
label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;

}

input, select, textarea, button{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

}

/*required field indicator*/
.required{
    color: red;
}

/*button styling*/
button{
    background-color: #4caf50;
    columns: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    padding: 10px 0;

}

button:hover{
    background-color: #45a049;
}
